@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(0deg,
      rgba(247, 247, 247, 1) 23.8%,
      rgba(252, 221, 221, 1) 92%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  margin: 0;
  position: relative;
}

.bg-color-choice {
  position: absolute;
  top: 50px;
  right: 70px;
  font-size: 1.3rem;
  z-index: 100;
}

.select-wrapper {
  display: flex;
  justify-content: center;
  width: 80px;
}

.select-btn {
  cursor: pointer;
  outline: 0;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  margin-left: 4px;
}

.bg-select-container {
  background-color: white;
  border-radius: 10px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  display: none;
}

.bg-select-show {
  display: flex;
}

.color-option {
  border-radius: 5px;
  margin: 3%;
  width: 90%;
  cursor: pointer;
  color: transparent;
  transition: 0.3s;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.color-option:hover {
  box-shadow: inset 0 0 6px #000000;
}

.pink {
  background-image: linear-gradient(0deg, rgba(247, 247, 247, 1) 23.8%, rgba(252, 221, 221, 1) 92%);
}

.blue {
  background-image: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
}

.black {
  background-image: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}

.yellow {
  background-image: linear-gradient(315deg, #f39f86 0%, #f9d976 74%);
}

.green {
  background-image: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(123, 253, 45, 1) 100%);
}

.music-container {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 20px 20px 0 rgba(252, 169, 169, 0.6);
  display: flex;
  padding: 20px 30px;
  position: relative;
  margin: 100px 0;
  z-index: 10;
}

.img-container {
  position: relative;
  width: 110px;
}

.img-container::after {
  content: '';
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, 50%);
}

.img-container img {
  border-radius: 50%;
  object-fit: cover;
  height: 110px;
  width: inherit;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: rotate 3s linear infinite;
  animation-play-state: paused;
}

.music-container.play .img-container img {
  animation-play-state: running;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.action-btn {
  background-color: #fff;
  border: 0;
  color: #dfdbdf;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
}

.action-btn.action-btn-big {
  color: #cdc2d0;
  font-size: 30px;
}

.action-btn:focus {
  outline: 0;
}

.music-info {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px 15px 0 0;
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  padding: 15px 15px 10px 120px;
  opacity: 0;
  transform: translateY(0%);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  z-index: 0;
}

.music-container.play .music-info {
  opacity: 1;
  transform: translateY(-100%);
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
}

.music-info h4 {
  margin: 0;
}

.right {
  display: flex;
}

.time {
  margin: 1%;
  letter-spacing: 1px;
}

.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 100%;
}

.progress {
  background-color: #fe8daa;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

.slider_container {
  opacity: 0;
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  cursor: pointer;
}

.slider_container.play {
  opacity: 1;
}

.volume-btn {
  cursor: pointer;
  outline: 0;
  border: 0;
  font-size: 1.3rem;
  background: transparent;
  transition: 0.3s;
}

.volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: black;
  cursor: pointer;
}

.volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #cdc2d0;
  cursor: pointer;
  border-radius: 50%;
}